*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0; /* Remove default body margin */
    
}

.description{
    max-width: 30vmin;
    width: 30vmin;
    height: 8vmin;
    font-size: 7vmin;
    margin-left: 3vmin;
}

.wrapper div{
    margin: 1vmin;
}

.btn{
    width: 70vmin;
    height: 8vmin;
    font-size: 7vmin;
    border-radius: 8px;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;

}

.dropdown-box{
    margin-left: 2vmin;

    width: 40vmin;
    height: 8vmin;
    font-size: 7vmin;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    position: relative;

}

.wrapper > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.wrapper{

    background-color: #deb887a2;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 8px;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;

    max-width: 90%;
    overflow: auto;
}

.flex-item{
    min-width: 70vmin;
    height: 4vmin;
    font-size: 3.5vmin;
}

/* Media Query for smaller screens */
@media screen and (max-width: 750px) {
    .wrapper {
        width: 80%; /* Adjust the width for smaller screens */
        padding: 10px;
    }

    .wrapper>div {
        flex-direction: column;
    }

    .btn,
    .dropdown-box {
        margin-top: 2vmin;
        width: 75vmin;
        font-size: 6vmin;
    }

    .description {
        margin-top: 2vmin;

        font-size: 5vmin;
    }

    .flex-item {
        width: 75vmin;
        font-size: 4vmin;
    }
}
